COMPOSE_PROJECT_NAME=fintech_wallet

BACKEND_PORT=8000
FRONTEND_PORT=3000
POSTGRES_PORT=5432

APP_NAME="Fintech Wallet"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=fintech_wallet
DB_USERNAME=fintech_wallet
DB_PASSWORD=fintech_wallet_password

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database

NUXT_PUBLIC_API_BASE_URL=http://localhost:8000/api